:root {
    --font-poppins: "Poppins", sans-serif;
    --font-lato: "Lato", sans-serif;
    --font-system: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* --font-system: ui-sans-serif, -apple-system, system-ui, Segoe UI, Roboto,
        Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Apple Color Emoji,
        Arial, Segoe UI Emoji, Segoe UI Symbol; */
    --font-default: var(--font-system);
    --size-system: 62.5%;
    --size-default: 1.6rem;
    --size-smallest: 1.3rem;
    --size-smaller: 1.5rem;
    --size-small: 2rem;
    --size-medium: 2.4rem;
    --size-large: 2.8rem;

    --color-blue: #0af;
    --color-pink: #f0a;
    --color-green: #5f5;
    --color-red: #f55;
    --color-red-dark: #f00;
    --color-green-dark: #151;

    --color-black: #000;
    --color-black-light: #0002;
    --color-black-one: #1b1b1f;
    --color-black-two: #202127;
    --color-black-three: #303137;
    --color-black-four: #444;
    --color-black-five: #555;
    --color-black-six: #666;
    --color-black-seven: #777;
    --color-black-eight: #888;

    --color-white: #fff;
    --color-white-light: #fff2;
    --color-white-one: #ebebef;
    --color-white-two: #d0d1d7;
    --color-white-three: #c0c1c7;
    --color-white-four: #bbb;
    --color-white-five: #aaa;
    --color-white-six: #999;

    --title-background: linear-gradient(120deg, #0ac0ee, #d00bc3, #473aff);

    --color: var(--color-black-one);
    --color-one: var(--color-black-three);
    --color-two: var(--color-black-four);
    --color-three: var(--color-black-five);
    --color-five: var(--color-black-seven);

    --color-bg: var(--color-white);
    --color-bg-one: var(--color-white-one);
    --color-bg-two: var(--color-white-two);
    --color-bg-three: var(--color-white-three);
    --color-bg-four: var(--color-white-four);
    --color-bg-five: var(--color-white-five);
    --color-bg-six: var(--color-white-six);

    --color-focus: var(--color-pink);
    --color-border: var(--color-black-light);
    --color-link: var(--color-blue);
    --color-file-background: var(--color-white-one);
    --color-file-hover: var(--color-white-three);
    --color-svg: var(--color-black-two);
    --color-svg-one: var(--color-white-three);
    --color-backdrop: #1115;

    --cover-height: 18rem;
    --folder-width: 28rem;
    --file-width: 18rem;
    --file-height: 30rem;
    --line-size-default: 1.6rem;
    --title-size: var(--size-medium);
    --primary-icon-size: var(--size-large);
    --secondary-icon-size: var(--size-medium);
    --content-column-gap: 3rem;
    --content-row-gap: 3rem;
    --content-gap: var(--content-row-gap) var(--content-column-gap);
    --vertical-padding: 3rem;
    --horizontal-padding: 10rem;
    --content-padding: var(--vertical-padding) var(--horizontal-padding);
}
.dark {
    --title-background: linear-gradient(120deg, #bd34fe, #41d1ff, #473aff);

    --color: var(--color-white-one);
    --color-one: var(--color-white-two);
    --color-two: var(--color-white-three);
    --color-three: var(--color-white-four);
    --color-five: var(--color-white-six);

    --color-bg: var(--color-black-one);
    --color-bg-one: var(--color-black-three);
    --color-bg-two: var(--color-black-four);
    --color-bg-three: var(--color-black-five);
    --color-bg-four: var(--color-black-six);
    --color-bg-five: var(--color-black-seven);
    --color-bg-six: var(--color-black-eight);

    --color-focus: var(--color-blue);
    --color-border: var(--color-white-light);
    --color-link: var(--color-pink);
    --color-file-background: var(--color-black-two);
    --color-file-hover: var(--color-black-one);
    --color-svg: var(--color-white-two);
    --color-svg-one: var(--color-white-six);
    --color-backdrop: #1115;
}

:root {
    font-family: var(--font-default);
    font-size: var(--size-system);
    line-height: var(--line-height-default);
    min-height: 100%;

    color-scheme: light dark;
    background-color: var(--color-bg);
    color: var(--color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:not(dialog),
*::before,
*::after {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
    scroll-behavior: inherit;
}

html,
body,
.app {
    font-size: var(--size-default);
    overscroll-behavior-y: contain;
    background: inherit;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    border: none;
}

svg {
    width: 100%;
}

span {
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    display: inline-block;
}

button,
.btn {
    color: inherit;
    background: inherit;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn svg,
.icon {
    fill: var(--color-svg);
}
.btn svg:hover {
    fill: var(--color-focus);
}

button:disabled svg,
button:disabled svg:hover,
.btn:disabled svg,
.btn:disabled svg:hover {
    fill: var(--color);
    filter: opacity(0.2);
    cursor: not-allowed;
}

.s-prime {
    width: var(--primary-icon-size);
    height: var(--primary-icon-size);
}

.s-second {
    width: var(--secondary-icon-size);
    height: var(--secondary-icon-size);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    font-weight: unset;
    font-size: unset;
}

h2 {
    font-size: 1.4rem;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

@media (max-width: 900px) {
    :root {
        --title-size: var(--size-small);
        --content-column-gap: 2rem;
        --content-row-gap: 2rem;
        --horizontal-padding: 7rem;
        --cover-height: 17rem;
        --folder-width: 25rem;
        --file-width: 15rem;
    }
}

@media (max-width: 600px) {
    :root {
        --vertical-padding: 3rem;
        --primary-icon-size: var(--size-medium);
        --secondary-icon-size: var(--size-small);
        --content-padding: 2rem 0rem;
        --content-column-gap: 0.7rem;
        --content-row-gap: 2rem;
        --cover-height: 11rem;
        --folder-width: 15rem;
        --file-width: 15rem;
    }
}

@media (prefers-color-scheme: dark) {
}

@media (prefers-reduced-motion: no-preference) {
}
